/* 
 * Metro style Push Button
 * 
 */

.title-hbox {
	-fx-background-color: #a19f9a, #c7c7c7, #e6e6e6;
	-fx-background-insets: 0, 0 0 1 0, 0 0 2 0;	
}

.title-label {
	-fx-text-fill: #666666;
	-fx-font-size: 1.5em;
	-fx-font-weight: bold;
}

